body 
{
    margin: 50px 0px; padding: 0px;
    text-align:center;
    font-family: Calibri, Arial, Times New Roman, Sans-Serif;
    background-color:#CCCCC9;
}

.menu, .submenu, .body
{
    width:800px;
    margin: 0 auto;
    text-align: left;
    border-bottom: solid 1px #003333;
    color:White;
}

ul
{
    margin:0;
    padding:5px;
    list-style:none;
    height:20px;
}
.menu > ul > li, .submenu > ul > li > a
{
    float:left;
    margin:1px; 
    padding-right: 20px;
    padding-left:10px;
    background-color:Navy;
    border-radius: 5px 5px 0 0;
}

.menu > ul > li
{
    height:24px;
}

.submenu > ul > li > a
{
    height:34px;
    padding-top: 4px;   
}

.submenu
{
    height:44px;
    border-top-style:none;
    border-bottom-style:none; 
    font-size:0.8em;
}

.body
{
    padding:5px;
    width:780px;    
    color:Black;
    border:1px solid #033;
}

.acoes > a
{
    font-size:0.7em;
    font-weight:bold;
    float:left;
    margin-left:7px;
    margin-top:5px;
    padding:5px;
    border: 1px solid #033;
    background-color:#666699;
}

.footer
{
    margin-top:5px;
    position:relative;    
}

